
#signUpCard {

    margin: 0 auto; /* Added */
    float: none; /* Added */
    max-width: 500px;
    margin-top: 25vh;
    border-radius: 10px;
}

#signUpPageBody {
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1535905496755-26ae35d0ae54?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
    overflow: hidden;

}
